 body {
    background: #1f2933;
    color: white;
  }

  .page-wrapper {
    height: 100vh;
  }

  .brand h1 {
    font-size: 70px;
    font-weight: 300;
  }

  .brand p {
    font-size: 28px;
    margin-top: 10px;
  }

  .form-card {
    background: black;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
  }

  .form-control {
    background: #e5e5e5;
    border: none;
    border-radius: 10px;
    padding: 12px;
  }

  .btn-main {
    background: #e5e5e5;
    border-radius: 30px;
    padding: 12px;
    width: 100%;
  }

.back-button {
  border:none;
  background: none;
  cursor: pointer;
  padding:8px;
    position: fixed;
    top: 70px;
    left: 70px;
  }


  .back-button:hover {
    stroke:#555;
  }
